
/*making everything center and column*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*making space and making it row (the header button and screen)*/
.header {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*main board in which user gonna draw*/
.board {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
}

/*fill up space so it can be separated. also space between board (same was done in header)*/
.footer {
    margin-top: 20px;
    width: 500px;
    justify-content: space-between;
    display: flex;
}